.Button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  text-align: center;

  display: block;
  margin: 4px auto;
  padding: 15px 32px;
  width: 50%;
}

.Button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}
